<p>footer-app works!</p>
    <div class="row">
        <div class="col">
          <h4>Negocios</h4>
          <div>
            <img src="" alt="sic">
          </div>
          <div>
            <img src="" alt="central de seguridad">
          </div>
          <h4>Asociados</h4>
          <div>
            <img src="" alt="mercadito de postres">
          </div>
        </div>
        <div class="col-4">
          <h5>Siguenos en redes sociales</h5>
          <div>
            <img src="./assets/facebook.png" alt="Facebook">
            Facebook
          </div>
          <div>
            <img src="./assets/instagram.png" alt="Instagram">
            Instagram
          </div>
          <div>
            <img src="./assets/twitter.png" alt="Twitter">
            Twitter
          </div>
        </div>
        <div class="col">
          <h5>Contacto</h5>
            <div>
              <img src="./assets/posicion.png" alt="icono de Ubicacion"><a href="#ubicacion" style="color: black;">
                6 poniente sur #19, San Martin, 30470 Villaflores, Chis.
              </a>
              </div>
            <div>
              <img src="./assets/llamada.png" alt="icono de telefono">
              Telefono</div>
            <div>
              <img src="./assets/whatsapp.png" alt="icono WhatsApp">
              WhatsAppBussines</div>
            <div>
              <img src="./assets/email.png" alt="icono email">
              Email</div>
            <div>
              <img src="./assets/apoyo.png" alt="icono atencion a clientes">
              atencion a clientes
            </div>
        </div>
      </div>
      <div class="row">
      </div>
